
<section>
    <article>
        <h2>
            Listado de Gastos
        </h2>
        <div class="contenedor">
            <div class="presu">
                <p>Presupuesto</p>
                <p style="font-weight: bold;">$3000</p>
            </div>
            <div class="restante">
                <p>Restante</p>
                <p style="font-weight: bold;">$2000</p>
            </div>
        </div>
        <div class="Supermercado">
            <p style="font-weight: bold">Supermercado</p>
            <p style="background-color:dimgrey; font-weight: bold;border-radius: 50px;color: white;width: 80px;">$1000</p>
        </div>
    </article>
</section>